<div class="modal-header">
    <h3>Booking {{vm.booking.id}}</h3>
</div>
<div class="modal-body">
    <ng-form class="row form-horizontal">
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-md-6 control-label">Booker</label>
                <p class="col-md-6 form-control-static">{{(vm.booking.booker.user.first_name+vm.booking.booker.user.last_name) || "Not yet booked"}}</p> 
            </div>
            <div ng-repeat="bookingItem in vm.booking.bookingitems">               
                <div class="form-group">
                    <label class="col-md-6 control-label">Bookingitem {{bookingItem.item.id}} space name</label>
                    <p class="col-md-6 form-control-static">{{(bookingItem.item.spaces.length > 0) ? bookingItem.item.name : "-"}}</p> 
                </div>
                 <div class="form-group">
                    <label class="col-md-6 control-label">Bookingitem {{bookingItem.item.id}} product name</label>
                    <p class="col-md-6 form-control-static">{{(bookingItem.item.products.length > 0) ? bookingItem.item.name : "-"}}</p> 
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Bookingitem {{bookingItem.item.id}} venue name</label>
                    <p class="col-md-6 form-control-static">{{bookingItem.item.venue.name || "-"}}</p> 
                </div>                
            </div>   
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" ng-click="vm.close()"
    class="btn btn-default glyphicon glyphicon-remove" title="Close">
    </button>
</div>